.stars{

/*
============
|| GLOBAL ||
============
*/

    font-size:.8vw;
    margin-bottom:.3vw;

    @include mobile-only {
        font-size:3vw;
        margin-bottom:2vw;
    }

    @include tablette-only {
        font-size:1.5vw;
        margin-bottom:1vw;
    }

/*
==========
|| STAR ||
==========
*/

    .fa-star {
        color: lightgray;
        cursor: pointer;   
    }
    .active {
        color: $blue;
    } 
}
